<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Sign-In Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<!-- link rel="stylesheet" type="text/css" href="/styles/master.css" -->
	<!-- link rel="stylesheet" type="text/css" href="/styles/productDetail.css" -->

	<!-- script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/productDetail.js" defer></script-->
</head>

<body>

    <script>
        function formValidation() {
            var employeeID = document.getElementById("empID").value;
            var password = document.getElementById("password").value;
			console.log('Test');
            if(employeeID != '' && isNaN(employeeID) == false && password != ''){
                return true;
            }
            else{
                if(employeeID == ''){
                    console.log("Employee ID can not be blank");
                }
                if(isNaN(employeeID) == true){
                    console.log("Employee ID must be a number");
                }
                if(password == ''){
                    console.log("Password must not be blank");
                }
                return false;
            }
            return true;
        }
    </script>

	<div class="header">
		<h1 class="primary-message">Welcome!</h1>
	</div>
	
    <div id="main" class="main">
        <div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

        <div id="signInForm" class="signInForm">
            <!-- add onsubmit="" function here later to verify form info. is in correct format -->
            <!-- FINISH action="/" LATER FOR GETTING USER DATA -->
            <!-- add th:value="" later to the input tags; for getting user data in each field -->
            <form id="login" onsubmit="formValidation()" action="/" method="post">
                <label for="empID">Employee ID:</label><br>
                <input type="number" id="empID" name="empID">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password">
                <label for="submitButton">Sign In</label><br>
                <input type="submit" id="submitButton" name="submitButton">
            </form>
        </div>
    </div>

</body>

</html>






